.boxAbout {
    display: flex;
    flex-direction: column;
    margin: 50px 0;

}


/********MEDIA QUERY POUR ECRAN 992px***********/
/******min-width 992px**************/
@include media-breakpoint("lg") {
    .boxAbout {
        display: flex;
        flex-direction: row;
        color: $black;
    }


}