.cardTraining {
    .card {
        background-color: $color1;
        color: $white;
        width: 20rem;
        // margin-top: 15px;
        .card-body {
            .card-title{
                text-align: center;
            }
            .card-text {
                p {
                    margin: 20px 5px;
                    u {
                        color: $color3;
                    }
                }
            }
        }
    }
}

/********MEDIA QUERY POUR ECRAN 992px***********/
/******min-width 992px**************/
// @include media-breakpoint("lg") {
//     .cardTraining {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

// }