.app-header {
    width: 100%;
    height: 100vh;
    background: rgba(65, 57, 57, 0.333) url("../../img/bg1.jpg");
    background-size: cover ;
    background-position: center ;
    // background-position: 25% 75% ;
    background-repeat: no-repeat;
    box-shadow: inset 0 -9px 8px -5px $color3;

    .presentation{
        .textPresentation{
            text-align: center;
            color: $white;

            h2, h3 {
                line-height: 2.5em;
                font-size: 2.5em;
                font-weight: 600;
            }
        }
    }
    .stack {
        color: $black;
    }
}