.app-header {
    width: 100%;
    height: 100vh;
    background: rgba(65, 57, 57, 0.333) url("../../img/bg1.jpg");
    background-size: cover ;
    background-position: center ;
    // background-position: 25% 75% ;
    background-repeat: no-repeat
}