.boxBtn {
    width: 70%;
    margin-top: 50px;
    .btnCustomLink {
            @include btnCustom($color2, $white, $color3, $color1);
            border-radius: 3px;
            border: solid 2px $color1;
            box-shadow: 5px 6px 5px 1px $color1;
        }
}
#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    z-index: 3
}

#upbtn {
    position: fixed;
    bottom: 0px;
    left: 0px; 
    z-index: 3
}

/********MEDIA QUERY POUR ECRAN 992px***********/
/******min-width 992px**************/
@include media-breakpoint("lg") {
    .boxBtn {
        width: 100%;

       
    }

}