$color1: #252d31;
$color2: #14626b;
$color3: #58c3c5;

$black: #0c0c0ce4;
$white: #ffffff;


//Screen size
$breakpoints :(xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);